/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-jul-2016, 13:12:53
    Author     : Bart Verstraete <bart.verstraete@student.howest.be>
*/

form#form_Login label span, form#form_Login input {
    display: block;
    margin: 0.25em 0;
}
