/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-jun-2016, 13:42:40
    Author     : Bart Verstraete <bart.verstraete@student.howest.be>
*/
html, body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #333;
    color: #ffffff;
}
    #container {
        height: 100%
    }
        #header {
            padding-left: 1em;
        }
        #navbar {
            float: left;
            width: 5em;
        }
        #content {
            float: right;
            width: calc(100% - 6em);
            min-height: 1em;
            padding-bottom: 2em;
       }
       #footer {
            position: absolute;
            display: block;
            width: 100%;
            height: 2em;
            bottom: 0;
            line-height: 2em;
        }
        #footer span{
            padding-left: 1em;
        }
.ui-menu {
    width: 5em;
}
select {
    width: 20em;
}
