/*
    Created on : 12-mei-2016, 20:05:00
    Author     : Bart Verstraete <bart.verstraete@student.howest.be>
*/

body {
    color: #aaa !important;
    background-color: black !important;
}
button, input, select {
    color: #aaa !important;
    background-color: #333 !important;
    border-radius: 3px !important;
    border-width: 0px !important;
}